<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>aknights！</title>
    <script src="lib/vue-2.4.0.js"></script>
    <link rel="stylesheet" href="aknight.css">
</head>
<body>
    <div id="app">
        <div class="up">
            <div class='upsix'>
                    本期up的六星是：
                    <select v-model="selectedSix" multiple>
                            <option disabled value="">请选择</option>
                            <option v-for='item in list1'>{{item.name}}</option>
                    </select>
                </div>
                <div class='upfive'>
                        本期up的五星是：
                        <select v-model="selectedFive" multiple>
                                <option disabled value="">请选择</option>
                                <option v-for='item in list2'>{{item.name}}</option>
                        </select>
                    </div>
            <input type="button" value="重新选择" @click='userDefined()'>   
            <span>所选择的是: {{selectedSix}} {{selectedFive}}</span>     
        </div>  
        <div class="bar clearfix">
                <input type="button" value="寻访一次" @click='oneDraw()'>
                <input type="button" value="寻访十次" @click='tenDraw()'>
                <input type="button" value="重置" @click='reset()'>
            </div>
        <table class="box">
            <tbody>
                <tr>
                    <td v-for='item in mylist'>{{item.rank}}{{item.name}}  </td>
                </tr>
            </tbody>
        </table> 
        <div>
            <p>总抽卡数：{{totalTimes}}</p>
            <p>抽到六星次数：{{sixTimes}}</p>
            <p>抽到五星次数：{{fiveTimes}}</p>
            <p>距离上次抽到六星次数:{{lastSixTimes}}</p>
            <p>抽到六星的概率：{{sixProb}}%</p>
        </div>
    </div>  
    <script>
    var vm = new Vue({
        el:'#app',
        data:{
            totalTimes:'0',
            sixTimes:'0',
            fiveTimes:'0',
            lastSixTimes:'0',
            sixProb:'2',
            selectedSix:[],
            selectedFive:[],
            mylist:[],
            mybox:[],
            list1:[
                {id:1,rank:6,name:'塞雷亚',profession:'重装'},
                {id:2,rank:6,name:'星熊',profession:'重装'},
                {id:3,rank:6,name:'闪灵',profession:'医疗'},
                {id:4,rank:6,name:'夜莺',profession:'医疗'},
                {id:5,rank:6,name:'斯卡蒂',profession:'近卫'},
                {id:6,rank:6,name:'陈',profession:'近卫'},
                {id:7,rank:6,name:'银灰',profession:'近卫'},
                {id:8,rank:6,name:'伊芙利特',profession:'术师'},
                {id:9,rank:6,name:'艾雅法拉',profession:'术师'},
                {id:10,rank:6,name:'推进之王',profession:'先锋'},
                {id:11,rank:6,name:'能天使',profession:'狙击'},
                {id:12,rank:6,name:'安洁丽娜',profession:'辅助'},
                ],
            list2:[
                {id:1,rank:5,name:'可颂',profession:'重装'},
                {id:2,rank:5,name:'临光',profession:'重装'},
                {id:3,rank:5,name:'雷蛇',profession:'重装'},
                {id:4,rank:5,name:'华法林',profession:'医疗'},
                {id:5,rank:5,name:'赫默',profession:'医疗'},
                {id:6,rank:5,name:'白面鸮',profession:'医疗'},
                {id:7,rank:5,name:'诗怀雅',profession:'近卫'},
                {id:8,rank:5,name:'芙兰卡',profession:'近卫'},
                {id:9,rank:5,name:'拉普兰德',profession:'近卫'},
                {id:10,rank:5,name:'幽灵鲨',profession:'近卫'},
                {id:11,rank:5,name:'天火',profession:'术师'},
                {id:12,rank:5,name:'夜魔',profession:'术师'},
                {id:13,rank:5,name:'德克萨斯',profession:'先锋'},
                {id:14,rank:5,name:'凛冬',profession:'先锋'},
                {id:15,rank:5,name:'蓝毒',profession:'狙击'},
                {id:16,rank:5,name:'普罗旺斯',profession:'狙击'},
                {id:17,rank:5,name:'白金',profession:'狙击'},
                {id:18,rank:5,name:'陨星',profession:'狙击'},
                {id:19,rank:5,name:'守林人',profession:'狙击'},
                {id:20,rank:5,name:'真理',profession:'辅助'},
                {id:21,rank:5,name:'空',profession:'辅助'},
                {id:22,rank:5,name:'梅尔',profession:'辅助'},
                {id:23,rank:5,name:'初雪',profession:'辅助'},
                {id:24,rank:5,name:'狮蝎',profession:'特种'},
                {id:25,rank:5,name:'红',profession:'特种'},
                {id:26,rank:5,name:'崖心',profession:'特种'},
                {id:27,rank:5,name:'食铁兽',profession:'特种'},
            ],
            list3:[
                {id:1,rank:4,name:'蛇屠箱',profession:'重装'},
                {id:2,rank:4,name:'角峰',profession:'重装'},
                {id:3,rank:4,name:'古米',profession:'重装'},
                {id:4,rank:4,name:'末药',profession:'医疗'},
                {id:5,rank:4,name:'调香师',profession:'医疗'},
                {id:6,rank:4,name:'嘉维尔',profession:'医疗'},
                {id:7,rank:4,name:'慕斯',profession:'近卫'},
                {id:8,rank:4,name:'霜叶',profession:'近卫'},
                {id:9,rank:4,name:'缠丸',profession:'近卫'},
                {id:10,rank:4,name:'杜宾',profession:'近卫'},
                {id:11,rank:4,name:'猎蜂',profession:'近卫'},
                {id:12,rank:4,name:'远山',profession:'术师'},
                {id:13,rank:4,name:'夜烟',profession:'术师'},
                {id:14,rank:4,name:'格雷伊',profession:'术师'},
                {id:15,rank:4,name:'红豆',profession:'先锋'},
                {id:16,rank:4,name:'讯使',profession:'先锋'},
                {id:17,rank:4,name:'清道夫',profession:'先锋'},
                {id:18,rank:4,name:'杰西卡',profession:'狙击'},
                {id:19,rank:4,name:'白雪',profession:'狙击'},
                {id:20,rank:4,name:'流星',profession:'狙击'},
                {id:21,rank:4,name:'深海色',profession:'辅助'},
                {id:22,rank:4,name:'地灵',profession:'辅助'},
                {id:23,rank:4,name:'砾',profession:'特种'},
                {id:24,rank:4,name:'阿消',profession:'特种'},
                {id:25,rank:4,name:'暗索',profession:'特种'},
            ], 
            list4:[
                {id:1,rank:3,name:'米格鲁',profession:'重装'},
                {id:2,rank:3,name:'斑点',profession:'重装'},
                {id:3,rank:3,name:'卡缇',profession:'重装'},
                {id:4,rank:3,name:'芙蓉',profession:'医疗'},
                {id:5,rank:3,name:'安塞尔',profession:'医疗'},
                {id:6,rank:3,name:'泡普卡',profession:'近卫'},
                {id:7,rank:3,name:'玫兰莎',profession:'近卫'},
                {id:8,rank:3,name:'月见夜',profession:'近卫'},
                {id:9,rank:3,name:'史都华德',profession:'术师'},
                {id:10,rank:3,name:'炎熔',profession:'术师'},
                {id:11,rank:3,name:'翎羽',profession:'先锋'},
                {id:12,rank:3,name:'香草',profession:'先锋'},
                {id:13,rank:3,name:'芬',profession:'先锋'},
                {id:14,rank:3,name:'空爆',profession:'狙击'},
                {id:15,rank:3,name:'安德切尔',profession:'狙击'},
                {id:16,rank:3,name:'克洛斯',profession:'狙击'},
                {id:17,rank:3,name:'深海色',profession:'梓兰'},
            ],     
        },
        methods:{
            /* 寻访 */
            Draw(){
                this.totalTimes++;
                /* 以下算法包含保底机制 */
                 if(this.lastSixTimes>=50){
                    this.sixProb = (this.lastSixTimes-49)*2+2;   //50次以上未中六星，抽中六星概率递增，直至100%
                } 
                /* 抽到星级的概率 */
                    var  prob = Math.floor(Math.random()*100)+1;  //概率1-100
                    /* 抽中六星 */
                    if(prob<=this.sixProb){
                        this.sixTimes++;
                        this.lastSixTimes = 0;
                        this.sixProb = 2;
                        /* up的角色出现率上升至50% */
                        var  upProb = Math.floor(Math.random()*2)+1; //概率1-2
                        /* 未抽中up角色 */
                        if(upProb == 1){
                            /* var  number = Math.floor(Math.random()*this.list1.length)+1; 
                            this.list1.some((item)=>{
                            if(item.id == number){
                                this.mylist.push(item);
                            }
                            }) */
                            
                        }
                        /* 抽中up角色 */
                        else if(upProb == 2){
                            var i = Math.floor(Math.random()*this.selectedSix.lenght)+1;
                            this.list1.some((item)=>{
                            if(item.name == selectedSix[i]){
                                this.mylist.push(item);
                            }
                            })
                        }
                    
                    }
                    /* 抽中五星 */
                    else if(this.sixProb<prob&&prob<=(this.sixProb+(100-this.sixProb)*8/98)){
                        this.fiveTimes++;
                        this.lastSixTimes++;
                        var  number = Math.floor(Math.random()*this.list2.length)+1; 
                        this.list2.some((item)=>{
                        if(item.id == number){
                            this.mylist.push(item);
                        }
                    })
                    }
                    /* 抽中四星 */
                    else if((this.sixProb+(100-this.sixProb)*8/98)<prob&&prob<=(100-(100-this.sixProb)*40/98)){
                        this.lastSixTimes++;
                        var  number = Math.floor(Math.random()*this.list3.length)+1; 
                        this.list3.some((item)=>{
                        if(item.id == number){
                            this.mylist.push(item);
                        }
                    })
                    }
                    /* 抽中三星 */
                    else if((100-(100-this.sixProb)*40/98)<prob&&prob<=100){
                        this.lastSixTimes++;
                        var  number = Math.floor(Math.random()*this.list4.length)+1; 
                        this.list4.some((item)=>{
                        if(item.id == number){
                            this.mylist.push(item);
                        }
                    })
                    }   
            },
            /* 寻访一次 */
            oneDraw(){
                this.mylist = [];
                this.Draw();
            },
            /* 寻访十次 */
            tenDraw(){
                this.mylist = [];
                for(var i=0;i<10;i++){
                    this.Draw();
                }
            },
            /* 重置 */
            reset(){
                this.mylist = [];
                this.totalTimes = 0;
                this.sixTimes = 0;
                this.fiveTimes = 0;
                this.lastSixTimes = 0;
                this.sixProb = 2;
            },
            userDefined(){
                this.selectedSix = [];
                this.selectedFive = [];
            },
        },
    })
    </script> 
</body>
</html>